.hero_section{
    height: max-content;
    width: 100%;
    background: #bd0b0b;
    background-image: url(../assets/Intersect.png);
    background-repeat: no-repeat;
    background-size: cover;

    .hero_text{
        display: flex;
        justify-content: center;
        height: 100%;

        .plane_one{
            align-items: baseline;
            height: 40%;
            margin-top: 15%;
            width: 15%;
            animation: ease-in 2s all;
        }
        .plane_two{
            align-items: baseline;
            height: 40%;
            width: 15%;
        }
        .text{
            color: whitesmoke;
            text-align: center;
            gap: 0;
            margin: 0;
            width: 60%;
            .pro_hero{
                font-size: 70px;
                margin-block: 0;
                // margin: 0;
            }
            .yellow_pro{
                font-size: 48px;
            }
            .delivery_text{
                font-size: 20px;
            }
            .btns{
                display: flex;
                gap: 15px;
                justify-content: center;
                button{
                    background-color: #FFD633;
                    height: 3rem;
                    width: 9rem;
                    font-weight: 700;
                    font-size: 20px;
                    border: none;
                    border-radius: 10px;
                }
            }
        }
    }

    @media screen and (max-width: 785px) {
        .hero_text{
             .text{
                width: 100%;
                .pro_hero{
                    font-size: 60px;
                    margin-block: 0;
                    // margin: 0;
                }
                .yellow_pro{
                    font-size: 38px;
                }
                .delivery_text{
                    font-size: 15px;
                }
             }
        }
    }

    @media screen and (max-width: 635px) {
        .hero_text{
             .text{
                width: 100%;
                .pro_hero{
                    font-size: 50px;
                    margin-block: 0;
                    // margin: 0;
                }
                .yellow_pro{
                    font-size: 30px;
                }
                .delivery_text{
                    font-size: 15px;
                }
             }
             .plane_one{
               display: none;
            }
            .plane_two{
               display: none;
            }
        }
    }
}